<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD BLOG</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/addBlog.css">
</head>

<body>

    <nav>
        <ul>
            <img id="menuBar" src="/images/menu.png" alt="">
            <li>BLOGIFY</li>
            <li><a href="/">Home</a></li>
            <li><a href="/readBlogs">Read Blogs</a></li>
            <li class="contact" >
                <a  href="#">Contact <i class="icon fa-solid fa-caret-down"></i></a>

                <ul class="dropdown">
                    <li><a href="https://www.instagram.com/shivam_89620/">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/shivam-devrani-988162262/">LinkedIn</a></li>
                    <li><a href="https://github.com/ShivamDevrani">Github</a></li>
                </ul>

            </li>
            
            <% if (locals.name) { %>
                <li><a href="/myBlogs">My Blogs</a></li>
                <li class="profile"><img id="img" loading="lazy" src="<%= locals.profileImageUrl %>" alt="error404">
                    <ul class="profile-dropdown">
                        <li id="intro">WELCOME <%= name %></li>
                        <li><a href="/myProfile">My Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                
                </li>
                <% } else { %>
                    <li> <a href="/signup">Login</a></li>
                   
            <% } %>
        </ul>
    </nav>
    <div id="menu">
        <img id="cross"  src="/images/cross.png" alt="">
        <div id="navContent">
             <a href="/">Home</a>
             <a href="/readBlogs">Read Blog</a>

             <% if (locals.name) { %>
                <a href="/myBlogs">My Blogs</a>
                        <a href="/myProfile">My Profile</a>
                        <a id="logout" href="/logout">Logout</a>
                    </ul>
                
                </li>
                <% } else { %>
                    <a href="/signup">Login</a>
                   
            <% } %>
             
        </div>
     </div>
    <div class="main">

       <form method="post" action="/user/addBlog" enctype="multipart/form-data">
         <h1>ADD NEW POST</h1>
         <div class="input">
            <label for="title">Title:</label>
            <input required type="text" id="title" name="title">
         </div>
         <div id="special" class="input">
            <p>Select Blog Type:</p>

            <div class="select">
                <label for="personal">Personal</label>
                <input required type="radio" id="personal" value="personal" name="blogType">
            </div>

            <div class="select">
                 <label for="professional">Professional</label>
            <input required type="radio" id="professional" value="professional" name="blogType">
            </div>

            <div class="select">
                <label for="educational">Educational</label>
                <input required type="radio" id="educational" value="educational" name="blogType">
            </div>

            <div class="select">
                <label for="lifestyle">Lifestyle</label>
                <input required type="radio" value="lifestyle"  id="lifestyle" name="blogType">
            </div>

            <div class="select">
                <label for="entertainment">Entertainment</label>
            <input required type="radio" value="entertainment" id="entertainment" name="blogType">
            </div>

            <div class="select">
                <label for="technology">Technology</label>
            <input required type="radio" id="technology" value="technology" name="blogType">
            </div>
            
            <div class="select">
                
            <label for="food">Food and Drink</label>
            <input required type="radio" value="food" id="food" name="blogType">
            </div>
            
         </div>
         <div class="input"> 
            <label  for="coverImage">Cover Photo:</label>
            
            <input required type="file" id="coverImage" name="coverImage">
         </div>
         <div class="text">
            <p>About Your Blog:</p>
            <textarea required name="body" id="body" placeholder="Write Here.."></textarea>
         </div>
         <button>Submit</button>


       </form>

    </div>
    
    <footer>
        <div id="blog" class="footer-column">
            <h1>BLOGIFY</h1>
            <p>"Welcome to Blogify, where we share insights, stories. Stay inspired and informed with our latest posts. Thank you for being part of our community!"
            </p>
        </div>
        <div class="footer-column1">
            <a href="https://github.com/ShivamDevrani"><img class="icon1" src="/images/github.png" alt=""></a>
            <a href="https://www.instagram.com/shivam_89620/"><img class="icons" src="/images/pngegg (4).png" alt=""></a>
            <a href="mailto:devranishivam1121@gmail.com"><img class="icons" src="/images/email.png" alt=""></a>
            <a href="https://www.linkedin.com/in/shivam-devrani-988162262/"><img class="icons" src="/images/linkedin.png" alt=""></a>
        </div>
        <p id="reserved">@All rights reserved</p>
        
    </footer>

    <script>
         
         const menuBar = document.getElementById('menuBar');
        const menu = document.getElementById('menu');
        const cross = document.getElementById('cross');
        let logout = document.getElementById('logout');


        //logout
    
        document.addEventListener('click', function(event) {
        if (event.target.id === 'logout') {
        event.preventDefault();
        localStorage.removeItem('email');
        window.location.href = event.target.href;
    }
});
        
        menuBar.addEventListener('click', () => {
            menu.style.display = 'block'; 
            document.body.style.overflow='hidden';
        });
        
            cross.addEventListener('click', () => {
                menu.style.display = 'none';
                document.body.style.overflow='auto';
            });

   </script>

    
</body>  

</html>