<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <nav>
        <ul>
            <img id="menuBar" src="/images/menu.png" alt="">
            <li>BLOGIFY</li>
            <li><a href="#">Home</a></li>
            <li><a href="/readBlogs">Read Blogs</a></li>
            <li class="contact" >
                <a  href="#">Contact <i class="icon fa-solid fa-caret-down"></i></a>

                <ul class="dropdown">
                    <li><a href="https://www.instagram.com/shivam_89620/">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/shivam-devrani-988162262/">LinkedIn</a></li>
                    <li><a href="https://github.com/ShivamDevrani">Github</a></li>
                </ul>

            </li>
            
            <% if (locals.name) { %>
                <li><a href="/myBlogs">My Blogs</a></li>
                <li class="profile"><img id="img" loading="lazy" src="<%=locals.profileImageUrl%>" alt="profile">
                    <ul class="profile-dropdown">
                        <li id="intro">WELCOME <%= name %></li>
                        <li><a href="/myProfile">My Profile</a></li>
                        <li><a id="logout" href="/logout">Logout</a></li>
                    </ul>
                
                </li>
                <% } else { %>
                    <li> <a href="/signup">Login</a></li>
                   
            <% } %>
        </ul>
    </nav>
    <div id="menu">
        <img id="cross"  src="/images/cross.png" alt="">
        <div id="navContent">
             <a href="/">Home</a>
             <a href="/readBlogs">Read Blog</a>

             <% if (locals.name) { %>
                <a href="/myBlogs">My Blogs</a>
                        <a href="/myProfile">My Profile</a>
                        <a id="logout" href="/logout">Logout</a>
                    </ul>
                
                </li>
                <% } else { %>
                    <a href="/signup">Login</a>
                   
            <% } %>
             
        </div>
     </div>


    
    <div class="main">
        <div class="section1">
            <img id="bg1" loading="lazy" src="/images/pen1.webp" alt="">
            <img id="bg2" loading="lazy" src="/images/pen2.webp" alt="">
            <img id="bg3" loading="lazy" src="/images/books.webp" alt="">
            <h1>Publish your passions, your way</h1>
            <h3>Create a unique and beautiful blog easily.</h3>
            <a href="/addBlog">Create Your Blog</a>
             
            <div class="block">
                 <img loading="lazy" src="/images/—Pngtree—business blogging commercial blog posting_14960729.webp" alt="">
            </div>
        </div>
       
        <div class="section2">
          <div class="para">

            <h1> Join millions of others </h1>
            <p>Whether sharing your expertise, breaking news, or whatever’s on your mind, you’re in good company on Blogger. Sign up to discover why millions of people have published their passions here.</p>

           
          </div>
         
           <img loading="lazy" src="/images/Tree.webp" alt="error404">
        
        </div>
        
        <div class="section3">
            <img id="img1" loading="lazy" src="/images/penss.webp" alt="">
            <img id="img2" loading="lazy" src="/images/pencil.webp" alt="">
           
            <div class="para2">
                <h1>Hang onto your memories</h1>
                <p>Save the moments that matter. Blogger lets you safely store thousands of posts, photos.</p>
               <a href="/readBlogs">Read Blogs</a>
            </div>
          
        </div>

    </div>
    
    <footer>
        <div id="blog" class="footer-column">
            <h1>BLOGIFY</h1>
            <p>"Welcome to Blogify, where we share insights, stories. Stay inspired and informed with our latest posts. Thank you for being part of our community!"
            </p>
        </div>
        <div class="footer-column1">
            <a href="https://github.com/ShivamDevrani"><img class="icon1" src="/images/github.png" alt=""></a>
            <a href="https://www.instagram.com/shivam_89620/"><img class="icons" src="/images/pngegg (4).png" alt=""></a>
            <a href="mailto:devranishivam1121@gmail.com"><img class="icons" src="/images/email.png" alt=""></a>
            <a href="https://www.linkedin.com/in/shivam-devrani-988162262/"><img class="icons" src="/images/linkedin.png" alt=""></a>
        </div>
        <p id="reserved">@All rights reserved</p>
        
    </footer>

    <script>

        //error due to ejs when we attach dynamically and using js tries to acess it we  should check like this 
        //Dynamic Content: If the logout anchor tag is dynamically added to the DOM, ensure that the event listener is attached after the element is added. You can use event delegation or attach the event listener inside the function responsible for adding the element.
        const menuBar = document.getElementById('menuBar');
        const menu = document.getElementById('menu');
        let logout = document.getElementById('logout');
    
        document.addEventListener('click', function(event) {
        if (event.target.id === 'logout') {
        event.preventDefault();
        localStorage.removeItem('email');
        window.location.href = event.target.href;
    }
});
        
        menuBar.addEventListener('click', () => {
            menu.style.display = 'block'; 
            document.body.style.overflow='hidden';
        });
        const cross = document.getElementById('cross');
            cross.addEventListener('click', () => {
                menu.style.display = 'none';
                document.body.style.overflow='auto';
            });
    </script>

    
</body>  

</html>