<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/signup.css">
    <title>SignUp</title>
</head>
<body>
    <nav>
        <ul>
            <img id="menuBar" src="/images/menu.png" alt="">
            <li>BLOGIFY</li>
            <li><a href="/">Home</a></li>
            <li><a href="/readBlogs">Read Blogs</a></li>
            <li class="contact" >
                <a  href="#">Contact <i class="icon fa-solid fa-caret-down"></i></a>

                <ul class="dropdown">
                    <li><a href="https://www.instagram.com/shivam_89620/">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/shivam-devrani-988162262/">LinkedIn</a></li>
                    <li><a href="https://github.com/ShivamDevrani">Github</a></li>
                </ul>

            </li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav> 
    <div id="menu">
        
        <img id="cross" src="/images/cross.png" alt="">
        <div id="navContent">
             <a href="/">Home</a>
             <a href="/readBlogs">Read Blog</a>

             <% if (locals.name) { %>
                <a href="/myBlogs">My Blogs</a>
                        <a href="/myProfile">My Profile</a>
                        <a id="logout" href="/logout">Logout</a>
                    </ul>
                
                </li>
                <% } else { %>
                    <a href="/signup">Login</a>
                   
            <% } %>
             
        </div>
     </div>   
     <div class="main">
        <img id="design" src="/images/design1.png" alt="">
        <img id="design1" src="/images/design1.png" alt="">

        <div class="signup">
            <h1 id="formHeading">SIGN UP</h1>
            <form id="form" method="post" action="/user/signup">

             <div id="name" class="input-field">
                <label for="name">Name</label>
             <input type="text" name="name" id="name">
             </div>

             <div class="input-field">
                <label for="email">Email</label>
             <input type="email" name="email" id="email">
             </div>

             <div class="input-field">
                <label for="password">Password</label>
             <input type="password" id="password" name="password">
             </div>
                 <button >Submit</button>
                 
                    <a id="forgotPassword" href="/verify?state=change">Forgot Password?</a>
            </form>
            
            <div class="selection">
                <button id="signup">Sign Up</button>
              <button id="login">Login</button>
            </div>
         </div>


     </div>

     <script>

        let signupBtn=document.getElementById('signup');

        let loginBtn=document.getElementById('login');

        let heading=document.getElementById('formHeading');

        let nameField=document.getElementById('name');

        let passwordField=document.getElementById('password');

        let form=document.getElementById('form');

        let forgotPassword=document.getElementById('forgotPassword');

        let email_field=document.getElementById('email');

        loginBtn.addEventListener('click',()=>{
            heading.innerHTML='LOGIN';
            loginBtn.style.backgroundColor='rgb(12, 108, 234)';
            loginBtn.style.color='white';
            signupBtn.style.backgroundColor='white';
            signupBtn.style.color='black';
            nameField.style.display='none';
            form.setAttribute('action','/user/login');
            form.setAttribute('method','post');
            forgotPassword.style.display='block';

        });
        signupBtn.addEventListener('click',()=>{
             heading.innerHTML='SIGN UP';
            loginBtn.style.backgroundColor='white';
            loginBtn.style.color='black';
            signupBtn.style.backgroundColor='rgb(12, 108, 234)';
            signupBtn.style.color='white';
            nameField.style.display='flex'

            form.setAttribute('action','/user/signup');
            forgotPassword.style.display='none';
            });

        form.addEventListener('submit',function(){
            event.preventDefault();

           localStorage.setItem('email',email_field.value);

           form.action = form.getAttribute('action');

           form.submit();
        })

        //responsive
        const menuBar = document.getElementById('menuBar');
        const menu = document.getElementById('menu');
        
        menuBar.addEventListener('click', () => {
            menu.style.display = 'block'; 
            document.body.style.overflow='hidden';
        });
        const cross = document.getElementById('cross');
            cross.addEventListener('click', () => {
                menu.style.display = 'none';
                document.body.style.overflow='auto';
            });

     </script>
       

</body>
</html>