*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

nav{
    width: 100%;
    /* background-color: rgb(27, 76, 203); */
    background-color: black
}

ul {
   
    height: 4rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    position:relative;
}


ul li{
    color: white;
    font-size: 1.4rem;
}
ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    transition: 0.2s;
}

ul li a::after{
    content: "";
    width: 0;
    height: 0.1rem;
    display: block;
    transition: 0.4s;
}


ul li a:hover{
    color:rgb(14, 84, 236);
    /* color: #9B3922; */
}
ul li a:hover::after{
    background-color:rgb(14, 84, 236);
    /* background-color: #9B3922; */
    width:100%;
}

ul li{
    position: relative;
}
ul li ul.dropdown li{
   color: black;
}

ul li ul.dropdown{
   position: absolute;
   z-index: 333;
   /* background-color: rgb(27, 76, 203); */
   background-color: rgba(19, 18, 18, 0.968);
   display: none;
}

ul li ul.dropdown li{
    color: white;
    
}




ul li.contact:hover ul.dropdown{
   display: block;
   width: 6rem;
   height: 9rem;    
   display: flex;
   flex-direction: column;
}

ul li.contact:hover  a i {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.main{
    height: 91.8%;
    width: 100%;
    background-color: #F57D1F;
   /* background-color: #BE3144;   */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#design
{
    width: 30rem;
    position: absolute;
    left:7%;
    bottom: -20%;
    transform: rotate(-90deg);
}
#design1{
    width: 30rem;
    position: absolute;
    right:7%;
    top: -21%;
    transform: rotate(90deg);
}

.signup{
    height:50% ;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 3;
    padding:10px;

    background: rgba(180, 4, 86, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
}

.signup h1{
    font-size: 3.3rem;
    color: white;
    
}

.signup h1::after{
    content: "";
    border: 1px solid wheat;
    display: block;
   
}
.signup form{
   
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: center;
    height: 75%;
    width: 80%;
    padding: 3px;
    
    /* border: 2px solid black; */
}


form div.input-field{
   /* border:2px solid white; */
   display:flex;
   flex-direction: column;
   /* align-items: center; */
   justify-content: space-evenly;
   width: 100%;
   height: 40%;
   padding: 2px;
   
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.input-field label{
    font-size: 1.4rem;
    text-align: center;
     color: white;
    font-weight: 500;
}



div.input-field input{
    height: 1.4rem;
    outline: none;  
    background-color: transparent;
    border:none;   
    border-bottom: 1px solid white;
    font-size: 1.2rem;
    color: wheat;
    text-align: center;

}

#verify{
    display: none;
}
form button{
    color:black;
    background-color:rgba(245, 245, 245, 0.952);
    
    border: none;
    font-size: 1.1rem;
    width: 60%;
    height: 8%;
    font-weight: 700;
    transition: 0.2s;
    border-radius: 4px;

}
form button:hover{
    cursor: pointer;
    transform: scale(1.05);
    color: white;
    background-color: rgb(12, 12, 12);

}




a{
    text-decoration: none;
}