
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

nav{
    
    width: 100%;
    /* background-color: rgb(27, 76, 203); */
    background-color: rgb(19, 18, 18);
    position: fixed;
    z-index: 33;
    top: 0;
  
}

ul {
   
    height: 4rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    position:relative;
}

#menuBar{
    filter: invert(100%);
    width: 2rem;
    display: none;
 }
 #menu{
     display: none;
 }

ul li{
    color: red;
    font-size: 1.4rem;
}
ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    transition: 0.2s;
}

ul li a::after{
    content: "";
    width: 0;
    height: 0.1rem;
    display: block;
    transition: 0.4s;
}


ul li a:hover{
    color:rgb(14, 84, 236);
}
ul li a:hover::after{
    background-color:rgb(14, 84, 236);
    width:100%;
}

ul li{
    position: relative;
}
ul li ul.dropdown li{
   color: black;
}

ul li ul.dropdown{
    border-radius: 8px;
   position: absolute;
   z-index: 333;
   /* background-color: rgb(27, 76, 203); */
   background-color: rgba(19, 18, 18, 0.968);
   display: none;
   transform: translate(-10%);
}

ul li ul.dropdown li{
    color: white;
    
}


ul li.contact:hover ul.dropdown{
   display: block;
   width: 6rem;
   height: 9rem;    
   display: flex;
   flex-direction: column;
}

ul li.contact:hover  a i {
    transform: rotate(180deg);
    transition: transform 0.3s;
}   



#img{
    width: 2.7rem;
    height: 2.7rem;
  
    border-radius:2rem;
    transform: translateY(5%);
}
ul li ul.profile-dropdown li{
    color: black;
 }
 
 ul li ul.profile-dropdown{
    border-radius: 8px;
    position: absolute;
    z-index: 333;
    /* background-color: rgb(27, 76, 203); */
    background-color: rgba(19, 18, 18, 0.968);
    display: none;
    transform: translateX(-55px);
    
 }
 
 ul li ul.profile-dropdown li{
     color: white;
     
 }
 ul li ul.profile-dropdown li a{
    font-size: 1.2rem;
 }

ul li.profile:hover ul.profile-dropdown{
    display: block;
    width: 10rem;
    height: 8rem;    
    display: flex;
    flex-direction: column;
 }
 
 #intro{
    text-align: center;
    font-size:0.9rem ;
 }

 .main{
    min-height: 100%;
    width: 100%;
    background-color: #F57D1F;
    /* background-color: #BE3144;  */
    padding: 10px;
    margin-top: 2%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1rem;
 }
 .main h1{

    margin-top:3rem;
    text-align: center  ;
    color:rgb(231, 219, 5);
    text-shadow: 2px 2px 2px black;
    font-size: 4rem;
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
      
 }

 .content {
    border-radius: 8px;
    box-shadow: 3px 4px 7px black;
    width: 95%;
    min-height: 10rem;
    background-color: rgb(217, 213, 213);
    padding: 2rem;
    font-size: 1.4rem;
    color:rgb(16, 6, 151);
    font-family: "Poetsen One", sans-serif;
}

.content p {    
    color: rgb(36, 35, 35);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.1rem;
    font-weight: 400;
    word-wrap: break-word; /* Ensure long words break */
}


.like{
    background-color:rgb(80, 80, 230);
    padding: 8px;
    display: flex;
    align-items: center;
     border-radius: 6px;
    gap: 2rem;
    position: relative;
    margin-top: 3rem;
}

.like::after{
    content: "Like Now!";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.6rem;
    padding: 2px;
    background-color: rgb(202, 197, 197);
    position: absolute;
    border-radius:4px;
    width: 45%;
    height: 2rem;
    transition: 0.4s;
    z-index: -1;
}

.like a img{
    width: 3rem;
    transition: 0.4s;

}


.like p{
    font-size: 1.4rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.811);
}

.like a:hover img{
  filter: invert(100%);
}

.like:hover::after {
    transform: translate(-4rem,3.5rem);
    z-index: 1;
}
.like:hover{
    background-color: rgb(7, 7, 138);
}



.liked{
    background-color:rgb(80, 80, 230);
    padding: 8px;
    display: flex;
    align-items: center;
     border-radius: 6px;
    gap: 2rem;
    position: relative;
    margin-top: 3rem;
}

.liked::after{
    content: "Remove Like!";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    padding: 2px;
    background-color: rgb(202, 197, 197);
    position: absolute;
    border-radius:4px;
    width: 45%;
    height: 2rem;
    transition: 0.4s;
    z-index: -1;
}

.liked a img{
    width: 3rem;
    transition: 0.4s;
    filter: invert(100%);

}

.liked a:hover img{
    filter: invert(0%);
  }


.liked p{
    font-size: 1.4rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.811);
}



.liked:hover::after {
    transform: translate(-4rem,3.5rem);
    z-index: 1;
}
.liked:hover::after:hover{
    background-color: rgb(7, 7, 138);
}




.main h2{
    margin-top: 3rem;
    font-size: 3rem;
    color:rgb(2, 36, 49);
   
}


.comments{
    /* border: 2px solid black; */
    border-radius: 4px;
    background-color: white;
    box-shadow: 2px 2px 4px black;
    width: 95%;
    height: 22rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 9px;
    transition: -0.2s;
   
}
#userComment{
    position: relative;
}
#userComment a{
    background-color: rgb(255, 0, 0);
    font-size: 1.6rem;
    color: white;
    padding: 5px;
    position: absolute;
    width: 6rem;
    text-align: center;
    right:10%;
    top: 40%;
    border-radius: 4px;
    z-index: -1;
}
#userComment:hover a{
    z-index: 1;
}
#userComment a:hover{
    background-color:black;
    color: red;
}
#userComment::after:hover{
    background-color: blue;
}

.comment{
    box-shadow: 2px 2px 4px black;
    padding: 1.2rem;
}
.comment:hover{
    background-color: rgb(167, 162, 162);
}
.intro{
    /* border: 2px solid black; */
    padding: 4px;
    display: flex;
    align-items: center;

    gap: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.comment p{
    padding: 4px;
    width: 95%;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    margin-left: 1.4rem;
    word-break:break-all;
}


.comment img{
    width: 3rem;
    margin-left: 2rem;
    height: 3rem;
    border-radius: 50%;
}


form{
    padding: 5px;
    width: 95%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
form label{
    font-size: 2.5rem;
    font-weight: 800;
    color:rgb(2, 36, 49);
}

form button{
    font-size: 1.4rem;
    font-weight:600;
    padding: 6px;
    border-radius: 7px;
    background-color: rgb(22, 125, 176);
    color:rgba(0, 0, 0, 0.748);
    box-shadow: 2px 2px 3px black;
    width: 10rem;
    transition: 0.2s;
}
form button:hover{
    cursor: pointer;
    background-color: rgb(3, 3, 107);
    color: white;
}


form textarea#comment{
    padding:0.4rem;
    resize: none;
    height:70%;
    width: 100%;
    font-size: 1.3rem;
    color: black; 
    font-weight: 800;  
    background-color:#FFC55A;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    

footer{
    width: 100%;
    background-color: #BE3144;
    height: 18%;
    display: flex;
     justify-content: space-evenly;
     align-items: center;
     position: relative;
}


.footer-column{
    width:50%;
    height: 65%;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px; 
}
.footer-column1{
    width: 30%;
    height: 65%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-column p{
    text-align: center;
    font-size: 1rem;
    width: 80%;
    height: 60%;
    color:#FFE8C5 ;
}
.footer-column h1{
    font-size: 2.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.footer-column1 .icons{
    width: 2.5rem;
    transition: 0.4s;
}
.icon1{
   width: 5rem;
   transition: 0.4s;
}
.icons:hover{
    filter: invert(100%);
}
.icon1:hover{
    filter: invert(100%);
}

footer #reserved{
    position: absolute;
    bottom: 1%;
    left: 50%;
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    display: none;
}


@media only screen and (max-width:1120px) {
    ul li{
        font-size: 1rem;
    }
    ul li a{
        text-decoration: none;
        font-size: 1rem;
        color: white;
        transition: 0.2s;
    }
    

    
    ul li.contact:hover  a i {
        transform: rotate(180deg);
        transition: transform 0.3s;
    }   
    
    
    
    #img{
        width: 2.4rem;
        height: 2.4rem;
      
        border-radius:2rem;
        transform: translateY(5%);
    }
    
     ul li ul.profile-dropdown{
        transform: translateX(-44px);
        
     }
     
     ul li ul.profile-dropdown li a{
        font-size: 1rem;
     }
    
    ul li.profile:hover ul.profile-dropdown{
        width: 8rem;
        height: 6rem;    
        
     }
     #intro{
      
        font-size:0.8rem ;
     }
     .main h1{
        font-size: 2.5rem;
          
     }
    
     .content {
      
        font-size: 1.2rem;
        color:rgb(16, 6, 151);
    }
    
    .content p {    
        font-size: 1.5rem;
        
    }
    
    
    
    .like::after{
        content: "Like Now!";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:1rem;
        padding: 2px;
        background-color: rgb(202, 197, 197);
        position: absolute;
        border-radius:4px;
        width: 30%;
        height: 1.5rem;
        transition: 0.4s;
        z-index: -1;
    }
    
    .like a img{
        width: 2rem;
        transition: 0.4s;
    
    }
    
    
    .like p{
        font-size: 1.1rem;
        font-weight: 800;
        color: rgba(255, 255, 255, 0.811);
    }
    
    .like a:hover img{
      filter: invert(100%);
    }
    
    .like:hover::after {
        transform: translate(-4rem,3.5rem);
        z-index: 1;
    }
    .like:hover{
        background-color: rgb(7, 7, 138);
    }
    
    
    
    .liked{
        background-color:rgb(80, 80, 230);
        padding: 8px;
        display: flex;
        align-items: center;
         border-radius: 6px;
        gap: 2rem;
        position: relative;
        margin-top: 3rem;
    }
    
    .liked::after{
        content: "Remove Like!";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:1rem;
        padding: 2px;
        background-color: rgb(202, 197, 197);
        position: absolute;
        border-radius:4px;
        width: 40%;
        height: 2rem;
        transition: 0.4s;
        z-index: -1;
    }
    
    .liked a img{
        width: 2rem;
        transition: 0.4s;
        filter: invert(100%);
    
    }
    
    .liked a:hover img{
        filter: invert(0%);
      }
    
    
    .liked p{
        font-size: 1.1rem;
        font-weight: 800;
        color: rgba(255, 255, 255, 0.811);
    }
    
    
    
    .liked:hover::after {
        transform: translate(-4rem,3.5rem);
        z-index: 1;
    }
    .liked:hover::after:hover{
        background-color: rgb(7, 7, 138);
    }
    
    .main h2{
        font-size: 2rem;
    }
    
    
    .comments{   
        border-radius: 4px;
        background-color: white;
        box-shadow: 2px 2px 4px black;
        width: 95%;
        height: 22rem;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 9px;
        transition: -0.2s;
       
    }
    #userComment{
        position: relative;
    }
    #userComment a{
        background-color: rgb(255, 0, 0);
        font-size: 1rem;
        color: white;
        padding: 5px;
        position: absolute;
        width: 4rem;
        text-align: center;
        right:10%;
        top: 40%;
        border-radius: 4px;
        z-index: -1;
    }
    #userComment:hover a{
        z-index: 1;
    }
    #userComment a:hover{
        background-color:black;
        color: red;
    }
    #userComment::after:hover{
        background-color: blue;
    }
    
    .comment{
        box-shadow: 2px 2px 4px black;
        padding: 1.2rem;
    }
    .comment:hover{
        background-color: rgb(167, 162, 162);
    }
    .intro{   
        padding: 4px;
        display: flex;
        align-items: center;
        gap: 1rem;
        
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    }
    .intro h3{
        font-size: 0.8rem;
    }
    .comment p{
        padding: 4px;
        width: 95%;
        margin-top: 0.5rem;
        font-size: 1rem;
        margin-left: 1.4rem;
        word-break:break-all;
    }

 
    .comment img{
        width: 2rem;
        margin-left: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    
    
    form{
        padding: 5px;
        width: 95%;
        height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
    }
    form label{
        font-size: 2rem;
        font-weight: 800;
        color:rgb(2, 36, 49);
    }
    
    form button{
        font-size: 1rem;
        font-weight:600;
        padding: 6px;
        border-radius: 7px;
        background-color: rgb(22, 125, 176);
        color:rgba(0, 0, 0, 0.748);
        box-shadow: 2px 2px 3px black;
        width: 7rem;
        transition: 0.2s;
    }
    
    .footer-column p{
        text-align: center;
        font-size: 0.8rem;
        width: 80%;
        height: 60%;
        color:#FFE8C5 ;
    }
    .footer-column h1{
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    }
    
    .footer-column1 .icons{
        width: 2rem;
        transition: 0.4s;
    }
    .icon1{
       width: 4.4rem;
       transition: 0.4s;
    }
    .icons:hover{
        filter: invert(100%);
    }
    .icon1:hover{
        filter: invert(100%);
    }
    
    footer #reserved{
        font-size: 1rem;
    }
    

}


@media only screen and (max-width:830px) {
    
    ul {
        width: 80%;
    }
    ul li{
        font-size: 0.9rem;
    }
    ul li a{
        font-size: 0.8rem;
      
    }
    
    #img{
        width: 2.2rem;
        height: 2.2rem;
        border-radius:1rem;
    }
    
     ul li ul.profile-dropdown{
        transform: translateX(-30px);
        
     }
     
     ul li ul.profile-dropdown li a{
        font-size: 0.8rem;
     }
    
    ul li.profile:hover ul.profile-dropdown{
        width: 6rem;
        height: 6rem;    
            
     }
     #intro{
      
        font-size:0.6rem ;
     }
    

     .section1 h1{
        font-size: 2.3rem;
     }
     
     .section1 h3{
        font-size: 1.5rem;
     }
    
     .section1 a{
        font-size: 0.8rem;
     }
    
     
     #bg3{
       width:17rem;
      
     }
    #bg1{
       
        width:16rem;
       
    }
    #bg2{
        width:22rem;
      
    }
  
    .main{
        margin-top: 0px;
    }
    .main h1{
        margin-top: 1rem;
    }
  
    .footer-column p{
        text-align: center;
        font-size: 0.7rem;
        width: 80%;
        height: 60%;
        color:#FFE8C5 ;
    }
    .footer-column h1{
        font-size: 1.6rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    }
    
    .footer-column1 .icons{
        width: 1.4rem;
        transition: 0.4s;
    }
    .icon1{
       width: 2.9rem;
       transition: 0.4s;
    }
    .icons:hover{
        filter: invert(100%);
    }
    .icon1:hover{
        filter: invert(100%);
    }
    
    footer #reserved{
        font-size: 0.8rem;
    }
    
}


@media only screen and (max-width:480px) {
    nav{
        position: relative;
    }
    ul{
        
        display: flex;
        justify-content: center;
        /* border: 2px solid white; */
        width: 20%;
    }
    ul li{
        display: none;
    }
    #menuBar {
       display: block;
    }
    #menu{
        /* display:block; */
        position: absolute;
        padding: 5px;
        left: 0;
        top:-8%;
        width: 97%;
        left: 2%;
        height: 98%;
        position: absolute;
        z-index:55;        
        
    
        background: rgba(180, 4, 4, 0.884);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
   
    
    }
    #cross{
        width: 15%;
        position:absolute;
        right: 3%;
        top: 5%;
        
    }
     
    #navContent{
        margin-top: 5%;
        width: 100%;
        height: 80%;
        padding: 1.5rem;
        display: flex;
        flex-direction:column;
        justify-content: center;
        
        gap: 2rem;
    
    }
    
    #navContent a{
        font-size: 2rem;
        color:white;
        font-weight: 500;
    }

    .section1{
        margin-top: 0px;
    }
    

     .section1 h1{
        font-size: 2rem;
        margin-top: 3rem;
     }
     
     .section1 h3{
        font-size: 1.2rem;
     }
    
     .section1 a{
        font-size: 0.8rem;
     }
     #bg3{
        left:-5%;
        bottom: -18%;
        width:15rem;
        /* z-index: 4; */
      }
     #bg1{
         right: -4%;
         bottom: 0;
         width:16rem;
         
         transform: rotate(-10deg);
     }
     #bg2{
        width:21rem;
         transform: rotate(90deg);
         right: -6%;
         bottom: 0;
     }
     
    
  
     .block img{
        width: 35rem;
        transform: translateY(-4rem);
        
     }
    
    
    .section2 img{
        width: 20rem;
        right: -40%;
        bottom:5%;
        transform:rotate(-35deg);
    }
    
    .para{
        width: 35%;

    
    }
    .para h1{

        font-size: 1.5rem;
       
    }
    .para p{
        
        font-size: 1rem;
        
    }
    
    .section3 #img1{
       width: 12rem;
       height: 17rem;
    
    }
    .section3 #img2{
       width: 15rem;
       height: 15rem;
    }
  
    .para2 h1{
      
        font-size: 1.6rem;
    }
    
    .para2 p{
        font-size: 1rem;
    }
    .para2 a{
        font-size: 0.8rem;
       
    }
    .footer-column{
        width:50%;
        height: 65%;
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px; 
      
        display: none;
    }
    .footer-column1{
        width: 100%;
        height: 65%;
        
        display: flex;
        
        justify-content: space-around;
        align-items: center;
    }
    
    
    .footer-column1 .icons{
        width: 2rem;
        transition: 0.4s;
    }
    .icon1{
       width: 3.5rem;
       transition: 0.4s;
    }

    
}

